language: scala
dist: trusty
sudo: required
group: edge
jdk:
  - oraclejdk8
env:
  matrix:
    - SCRIPT="bin/runSbtJob consumer-service/consumer-service-java-sbt test"
    - SCRIPT="bin/runSbtJob consumer-service/consumer-service-java-sbt test"
    - SCRIPT="bin/runSbtJob cors/cors-java test"
    - SCRIPT="bin/runSbtJob cors/cors-scala test"
    - SCRIPT="bin/runSbtJob file-download/file-download-scala-sbt test"
    - SCRIPT="bin/runSbtJob file-upload/file-upload-scala-sbt test"
    - SCRIPT="bin/runSbtJob file-upload/file-upload-java-sbt test"
    - SCRIPT="bin/runSbtJob http-header-handling/http-header-handling-java-sbt test"
    - SCRIPT="bin/runSbtJob mixed-persistence/mixed-persistence-java-sbt test"
    - SCRIPT="bin/runSbtJob mixed-persistence/mixed-persistence-scala-sbt test"
    - SCRIPT="bin/runSbtJob auth-jwt/auth-jwt-java-sbt test"
    - SCRIPT="bin/runSbtJob auth-jwt/auth-jwt-scala-sbt test"
    - SCRIPT="mvn -f circuitbreakerpanel/circuitbreakerpanel-java-mvn test"
    - SCRIPT="mvn -f i18n/hello-i18n-java-mvn test"
    - SCRIPT="mvn -f kubernetes-deployment/hello-kubernetes-java-mvn test"
    # can't run telemetry recipes on travis
    #- SCRIPT="mvn -f lightbend-telemetry/lightbend-telemetry-java-mvn test"
    #- SCRIPT="mvn -f lightbend-telemetry/log-correlation-java-mvn test"
script: $SCRIPT
before_install:
    # See https://github.com/travis-ci/travis-ci/issues/4629#issuecomment-239493916
    - rm ~/.m2/settings.xml
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/scala*
    - $HOME/.m2/repository
before_cache:
  # Ensure changes to the cache aren't persisted
  - rm -rf $HOME/.ivy2/cache/com.lightbend.lagom/*
  - rm -rf $HOME/.ivy2/cache/scala_*/sbt_*/com.lightbend.lagom/*
  - rm -r $HOME/.m2/repository/com/lightbend/lagom/*
  # Delete all ivydata files since ivy touches them on each build
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" | xargs rm

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/2aa0aeda88d31fe293d4
    on_success: change
    on_failure: always
    on_start: never
