[gerrit]
	basePath = git
	canonicalWebUrl = http://VIVEK:8089/
[database]
	type = h2
	database = db/ReviewDB
[auth]
	type = HTTP
[sendemail]
	smtpServer = localhost
[container]
	user = mishra
	javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8089/
[cache]
	directory = cache
